/* Foont Google */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,500;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

.bg-primary{
    background-color: #b7193f !important;
}
.navbar{
    box-shadow: 0 5px 8px rgba(0, 0, 0, .2);
}
.navbar-brand { 
    color: white !important;
    display: inline-block;text-shadow: 5px 5px 8px rgba(0, 0, 0, .3);
}
nav form input{
    width: 700px !important;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}
nav form button{
    border: 3px solid white !important;
    border-radius: 0px !important;
    color: white !important;
}
.nav-link{
    color: white !important;
}
nav form button:hover{
    background-color: rgb(239, 161, 179, .1) !important;
}
#nav .navbar-nav{
    position: absolute;
    top: 5px;
    left: 1100px;
}
.sm{
    position: absolute;
    top: -5px;
    left: 90px;
}
.sm ul li a {
    color: white !important;
}
#content{
    background-color: rgb(253, 253, 253);
}
.container{
    background-color:  #b7193f;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
    color: white;
}

#content .row .col-md-2 p{
    width: 120px;
    margin: 10px auto;
}
#content .row .col-md-2 img{
    height: 50px;
}
#content .d{
    color: #b7193f;
    box-shadow: 5px 5px 5px #b7193e31;
}
.ktg .row .col-md-2 img{
    height: 80px !important;
    box-shadow: 5px 5px 8px #b7193e49;
    border-radius: 50%;
}
#produk .list{
    margin-left: 130px !important;
}
#produk .card{ 
    width: 18% !important;
    border: none;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .2);
}  
#produk .card a{
    text-decoration: none;
}
#produk .card span{
    color: #b7193f;
    font-weight: bold;
    font-size: 19px;
}
#produk .card:hover{
    border: 1px solid #b7193f;
    box-shadow: 1px 2px 5px rgba(239, 159, 178, .2);
}
#produk button{
    margin: -5px 480px 30px;
    background-color: #b7193f;
    border: #b7193f;
    color: white;
    padding-left: 130px !important;
    padding-right: 130px !important;
}
#produk button :hover{
    opacity: 10% !important;
}
.tombol button a{
    text-decoration: none !important;
    color: red;
}
.tombol button,.tombol button a:hover{
    color: white;
}
.bdr-nn{
    border-radius: 0px !important;
}
#detail .container-fluid{
    background-color:  #b7193f;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
    width: 650px;
}
#login{
     background: linear-gradient(to right, #8a2387, #e94057, #f27121);
     transition: .75s all linear;
}
#login .container{
    background: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
    transition: .75s all linear;
}#login form input,#login form button{
    background-color: rgba(255, 255, 255, 0.281);
    border-radius: 2px;
    border: none;
    box-shadow: none;
    height: 50px;
    color: white;
    transition: 1s all linear;
}#login form input::placeholder{
    color: white;
    padding-left: 5px;
}
#login form button{
    width: 100%;
    margin-top: 30px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.281);
    border: 2px solid rgba(255, 255, 255, 0.281);
    font-family: Roboto;
    transition: .50s all linear;
}
#login form button:hover{
    color: #ffffff;
    border: 2px solid #ffffff;
}
#login form p {
    color: rgba(255, 255, 255, 0.733) !important;
}
#login form p a{
    text-decoration: none ;
    color: rgb(255, 255, 255);
    font-weight: 500;
}
#login form p a:hover{
color: rgba(255, 255, 255, 0.733);
}
#login .sign p {
    color: rgba(255, 255, 255, 0.733) !important;
}
#login .sign p a{
    text-decoration: none ;
    color: rgb(255, 255, 255);
    font-weight: 500;
}
#login .sign p a:hover{
color: rgba(255, 255, 255, 0.733);
font-weight: 500;
}

.btn-primary{
    background-color: #b7193f;
    border: #b7193f;
}
.btn-outline-primary{
    border-color: #b7193f;
    color: #b7193f;
}
.btn-primary:hover{
     background-color: #a31637;
    border: #a31637;
}
.btn-outline-primary:hover{
    border-color: #b7193f;
    background-color: #b7193f;
    color: white;
}
.border-dark{
    border-color: #b7193f !important;
}
.dropdown{
    position: absolute;
    top: 5px;
    left: 1150px;
}
.dropdown button{
    box-shadow: none !important;
    outline: none !important;
}
.dropdown ul{
    border-color: #a31637;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
}
.dropdown ul li .active {
    background-color: #b7193f !important;
}.dropdown ul li a:active {
    background-color: #b7193f !important;
}