/* Foont Google */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,500;1,800&display=swap');

.bg-primary{
    background-color: #ef9fb2 !important;
}
.navbar{
    box-shadow: 0 5px 8px rgba(0, 0, 0, .2);
}
.navbar-brand { 
    display: inline-block;text-shadow: 5px 5px 8px rgba(0, 0, 0, .3);
}
nav form input{
    width: 700px !important;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}
nav form button{
    border: 3px solid white !important;
    border-radius: 0px !important;
    color: black !important;
}
nav form button:hover{
    background-color: rgb(239, 161, 179, .1) !important;
}
#nav .navbar-nav{
    position: absolute;
    top: 5px;
    left: 1180px;
}
.sm{
    position: absolute;
    top: -5px;
    left: 90px;
}
.sm ul li a {
    color: black !important;
}
#content{
    background-color: rgb(253, 253, 253);
}
.container{
    background-color:  #ef9fb2;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
}
#content .row .col-md-2 p{
    width: 120px;
    margin: 10px auto;
}
#content .row .col-md-2 img{
    height: 50px;
}
#content .d{
    color: #ef9fb2;
    box-shadow: 5px 5px 8px rgba(239, 159, 178, .2);
}
.ktg .row .col-md-2 img{
    height: 80px !important;
    box-shadow: 5px 5px 8px rgba(239, 159, 178, .2);
    border-radius: 50%;
}
#produk .list{
    margin-left: 130px !important;
}
#produk .card{ 
    width: 18% !important;
    border: none;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .2);
}  
#produk .card a{
    text-decoration: none;
}
#produk .card span{
    color: #ef9fb2;
    font-weight: bold;
    font-size: 19px;
}
#produk .card:hover{
    border: 1px solid #ef9fb2;
    box-shadow: 1px 2px 5px rgba(239, 159, 178, .2);
}
#produk button{
    margin: -5px 480px 30px;
    background-color: #ef9fb2;
    border: #ef9fb2;
    color: white;
    padding-left: 130px !important;
    padding-right: 130px !important;
}
#produk button :hover{
    opacity: 10% !important;
}
.tombol button a{
    text-decoration: none !important;
    color: red;
}
.tombol button,.tombol button a:hover{
    color: white;
}